{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Sistema Modular{% endblock %}</title>

    <!-- Archivo Tailwind compilado -->
    <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">

</head>

<body class="bg-gray-100 min-h-screen flex">

    <!-- SIDEBAR -->
    {% include "components/sidebar.html" %}

    <!-- CONTENIDO PRINCIPAL -->
    <div class="flex-1 flex flex-col">

        <!-- NAVBAR SUPERIOR -->
        {% include "components/navbar.html" %}

        <!-- CONTENIDO -->
        <main class="p-4 md:p-6">
            {% block content %}
            {% endblock %}
        </main>

    </div>

</body>
</html>
